<!-- FOOTER -->
<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__block">
                <div class="footer__block-item">
                    <div class="footer__item">
                        <h2 class="footer__title">Shop & Pay Safely</h2>
                        <div class="footer__payment">
                            <div class="img"><img src="../img/footer/American%20logo.svg" alt=""></div>
                            <div class="img"><img src="../img/footer/jcb%20logo.svg" alt=""></div>
                            <div class="img"><img src="../img/footer/paypal%20logo.svg" alt=""></div>
                            <div class="img"><img src="../img/footer/MasterCard%20logo.svg" alt=""></div>
                            <div class="img"><img src="../img/footer/Vector.svg" alt=""></div>
                            <div class="img"><img src="../img/footer/diners-club-international%20logo.svg" alt=""></div>
                        </div>
                        <div class="footer__payment-desc">
                            <p>Payment can be made safely and securely with Paypal, Credit Card or Bank Transfer.</p>
                        </div>
                    </div>
                    <div class="footer__item">
                        <h2 class="footer__title">Your Benefits</h2>
                        <ul class="footer__list">
                           <li>2 Years GIK Acoustics Warranty </li>
                           <li>30-day-money-back guarantee</li>
                           <li>Advice from our experts</li>
                           <li>Satisfaction Guarantee</li>
                           <li>Market Leader in Room Accoustics</li>
                        </ul>
                    </div>
                </div>
                <div class="footer__block-item">
                    <div class="footer__item">
                        <h2 class="footer__title">Shop</h2>
                        <ul class="footer__menu">
                            <li><a href="">Acoustic panels</a></li>
                            <li><a href="">Bass traps</a></li>
                            <li><a href="">Diffuser</a></li>
                            <li><a href="">Art panel</a></li>
                            <li><a href="">Free standing</a></li>
                            <li><a href="">Diffusion</a></li>
                            <li><a href="">Art panel</a></li>
                            <li><a href="">Free standing</a></li>
                            <li><a href="">Diffusion</a></li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <h2 class="footer__title">About</h2>
                        <ul class="footer__menu">
                            <li><a href="">About Us</a></li>
                            <li><a href="">Refund and Returns</a></li>
                            <li><a href="">Sitemap</a></li>
                            <li><a href="">Dealers</a></li>
                            <li><a href="">Policies</a></li>
                            <li><a href="">Return & Refunds</a></li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <h2 class="footer__title">Help</h2>
                        <ul>
                            <li><a href="">Contact</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Downloads</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <h3>Copyright - "©2023 GIK Acoustics LLC. All rights reserved</h3>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
