<!-- HEADER -->
<header>
    <div class="header__top">
        <div class="container">
            <div class="header__top-block">
                <div class="header__social">
                    <a href="" class="header__facebook img">
                        <img src="../img/facebook.svg">
                    </a>
                    <a href="" class="header__insta img">
                        <img src="../img/instagram.svg">
                    </a>
                    <a href="" class="header__pinterest img">
                        <img src="../img/pinterest.svg">
                    </a>
                    <a href="" class="header__x img">
                        <img src="../img/x.svg">
                    </a>
                    <a href="" class="header__youtube img">
                        <img src="../img/youtube.svg">
                    </a>
                </div>
                <div class="header__icon">
                    <div class="header__search img">
                        <img src="../img/search.svg">
                    </div>
                    <div class="header__cart img">
                        <img src="../img/cart.svg">
                    </div>
                    <div class="header__account img">
                        <img src="../img/account.svg">
                    </div>
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="header">
        <div class="container">
            <div class="header__block">
                <div class="header__logo img">
                    <img src="../img/logo.png" alt="">
                </div>
                <nav >
                    <ul class="header__menu">
                        <li class="header__item"><a href="#">SHOP</a></li>
                        <li class="header__item"><a href="#">Acoustic Education</a></li>
                        <li class="header__item"><a href="#">Reviews</a></li>
                        <li class="header__item"><a href="#">Dealers</a></li>
                        <li class="header__item"><a href="#">FAQ</a></li>
                        <li class="header__item"><a href="#">AFFILIATE</a></li>
                        <li class="header__item"><a href="#">About us</a></li>
                    </ul>
                </nav>
                <a href="tel:7709862789" class="header__phone">
                    <p>We Ship Worldwide</p>
                    <span >770 986 27 89</span>
                </a>
            </div>
        </div>
    </div>
    <div class="delivery">
        <div class="container">
            <div class="delivery__text">
                <div class="img delivery__icon"><img src="img/delivery.svg" alt=""></div>
                <h2>Fast Delivery</h2>
                <h3>As quick as 5 days!</h3>
                <a href="" class="delivery__button">Click here</a>
            </div>
        </div>
    </div>
    <div class="side">
        <div class="side__item">
            <h2>Free advice</h2>
            <h2>Room visualizer</h2>
            <h2>Panel calculator</h2>
        </div>
        <div class="side__block">
            <div class="side__content">


            </div>
        </div>

    </div>

</header>
<!-- /HEADER -->

