<script>
    let mapIcon = '<?= TEMPLATE_PATH ?>/img/maps.svg';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!--<script type="text/javascript" src="scripts/validate_script.js" ></script>-->
<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="./scripts/roomle.min.js" type="module"></script>





<script type="text/javascript" src="scripts/basic_scripts.js" ></script>
<script type="text/javascript" src="scripts/develop/index.js" ></script>

<script type="module">
    import RoomleConfiguratorApi from "./scripts/roomle.min.js";

    const button = document.querySelector('.product__build');
    const currentProduct = button.getAttribute('data-configurationID')
    const options = {
        id: currentProduct,
    };
    button.addEventListener('click', async () => {
        const configurator = await RoomleConfiguratorApi.createConfigurator(
            'demoConfigurator',
            document.querySelector('.product__roomle'),
            options,
        );
        configurator.ui.startConfiguring();
        configurator.ui.callbacks.onRequestProduct = (configurationId, image, partlist, price, labels, configuration) => {
            console.log(configurationId, image, partlist, price, labels, configuration);
        };
    });
</script>