<script>
    let mapIcon = '<?= TEMPLATE_PATH ?>/img/maps.svg';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!--<script type="text/javascript" src="scripts/validate_script.js" ></script>-->
<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!--<script src="./scripts/roomle.es.min.js" type="module"></script>-->


<!--<script type="module">-->
<!--    import RoomleConfiguratorApi from "./scripts/roomle.es.min";-->

<!--    const button = document.querySelector('.button');-->
<!--    const options = {-->
<!--        id: 'usm:frame',-->
<!--    };-->
<!--    button.addEventListener('click', async () => {-->
<!--        console.log(444)-->
<!--        const configurator = await RoomleConfiguratorApi.createConfigurator(-->
<!--            'demoConfigurator',-->
<!--            document.getElementById('configurator-container'),-->
<!--            options,-->
<!--        );-->
<!--        configurator.ui.startConfiguring();-->
<!--    });-->
<!--</script>-->


<script type="text/javascript" src="scripts/basic_scripts.js" ></script>
<script type="text/javascript" src="scripts/develop/index.js" ></script>

